/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
}

.temp-pic {
    width: 50dvw;
}

.heading {
    margin: 50px 0 20px 0;
    font-size: 4dvw;
    color: steelblue;
}

.blue-span {
    color: dodgerblue;
    font-size: 20px;
}

.play-ground {
    display: grid;
    grid-template-columns: auto 300px auto ;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 50px;
}

.gameboard-cont {
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* grid-template-columns: repeat(3, 100px); */
    /* grid-template-rows: repeat(3, 100px); */
    height: 300px;
}

.board-cell, .name {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.player-cont {
    max-width: 150px;
    box-shadow: 0 5px 5px black;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(221, 217, 217);
}

.board-cell {
    font-size: 60px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.one, .four, .seven {
    border-left: 5px solid rgb(71, 71, 165);
    border-right: 5px solid rgb(71, 71, 165);
}
.three, .four, .five {
    border-top: 5px solid rgb(71, 71, 165);
    border-bottom: 5px solid rgb(71, 71, 165);
}

button {
    width: 200px;
    height: auto;
    padding: 5px;
    font-size: 15px;
    box-shadow: 0 10px 15px black;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.player1-name {
    color: darkgreen;
}

.player2-name {
    color: red;
}

.clicked {
    pointer-events: none;
    background-color: rgb(240, 240, 240);
    /* cursor: not-allowed; */
}

/* Register Players Form */

.overlay-cont {
    background-color: rgba(51, 53, 55, 0.7);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all 0.1s ease-in-out 0s; */
}

.form-cont {
    width: 300px;
    background-color: #E2E8F0;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0px 10px 40px rgb(0, 0, 0);;
    transition: all 0.05s ease-in-out 0s;
}

.register-players-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input {
    width: 100%;
    height: 40px;
    font-size: .9em;
    padding: 0 15px 0 15px ;
    border: none;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgb(150, 149, 149);
}

.submit-btn {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(80, 79, 79);

}

.submit-btn:hover {
    background-color: #dad9d9;
    transform: scale(1.1);
}

.submit-btn:active {
    transform: scale(1);
}